.main-text {
  font-size: larger;
  color: rgb(241, 247, 241);
  font-weight: bold;
}

body {
  background-color: rgb(81, 0, 0);
  align-items: center;
  align-content: center;
  text-align: center;
}
