<li>
    <article class="post">
        <a href="">
            {% comment %} <img src="{% static "blog/images/mountains.jpg" %}" alt="" /> {% endcomment %}
            <div class="post__content">
                <h3>Mountain hiking</h3>
                <p>
                    Nestled within the heart of the Canadian Rockies, Banff National Park stands as an emblem of nature's grandeur, offering hikers a mosaic of scenic trails that promise adventure and serenity in equal measure.
                </p>
            </div>
        </a>
    </article>
</li>