{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block pg_title %}Default title{% endblock %}</title>
    <link rel="icon" href="blog/images/logo.jpg" type="image/jpg">
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block custom_css %}{% endblock %}
    <link rel="stylesheet" href="{% static "blog/styles/app.css" %}" /> 
  </head>
  <body>
    {% include "partials/navigation.html" %}
    {% block pg_content %}
    {% endblock %}
  </body>
</html>
