{% extends "base.html" %} 
{% load static %}

{% block pg_title %} DjangoJournal {% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'blog/styles/index.css' %}"/>
    <link rel="stylesheet" href="{% static 'blog/styles/post.css' %}"/>
{% endblock %}

{%block pg_content %} 

<section id="welcome">
    <header>
        <h2>RAYYAN'S BLOG</h2>
    </header>
    <p>Hello, I'm Rayyan, a software engineering student, and I'm currently honing my skills through a learning project in Django. This endeavor is still under development, and it represents my hands-on journey into the intricacies of web development</p>
</section>


<section id="latest-posts">
    <h2>Latest thoughts</h2>

    <ul>
        {% for post in posts %}
        {% include "partials/post.html" %}
        {% endfor %}

    </ul>
</section>

<section id="about">
    <h2>About me</h2>
    <p>INFO ABOUT ME HERE</p>
</section>

{% endblock %}
