{% extends "base.html" %} 
{% load static %}

{% block pg_title %} DjangoJournal {% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'blog/styles/index.css' %}"/>
    <link rel="stylesheet" href="{% static 'blog/styles/post.css' %}"/>
{% endblock %}

{%block pg_content %} 

<section id="welcome">
    <header>
        <h2>RAYYAN'S BLOG</h2>
    </header>
    <p>Hi, my name is rayyan and...</p>
</section>


<section id="latest-posts">
    <h2>Latest thoughts</h2>

    <ul>
        {% include "partials/post.html" %}
    </ul>
</section>

<section id="about">
    <h2>About me</h2>
    <p>INFO ABOUT ME HERE</p>
</section>

{% endblock %}
